In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
matches = pd.read_csv("matches.csv")
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

In [3]:
matches["winner"].fillna("Draw", inplace = True)

In [4]:
matches["city"].fillna("Dubai",inplace = True)
matches.info()
matches.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577 entries, 0 to 576
Data columns (total 18 columns):
id                 577 non-null int64
season             577 non-null int64
city               577 non-null object
date               577 non-null object
team1              577 non-null object
team2              577 non-null object
toss_winner        577 non-null object
toss_decision      577 non-null object
result             577 non-null object
dl_applied         577 non-null int64
winner             577 non-null object
win_by_runs        577 non-null int64
win_by_wickets     577 non-null int64
player_of_match    574 non-null object
venue              577 non-null object
umpire1            577 non-null object
umpire2            577 non-null object
umpire3            0 non-null float64
dtypes: float64(1), int64(5), object(12)
memory usage: 81.2+ KB

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,2008-04-18,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,2008-04-19,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,2008-04-20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,2008-04-20,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

In [5]:
matches = matches[["team1","team2","city","toss_decision","toss_winner","venue","winner"]]
matches.head()

,team1,team2,city,toss_decision,toss_winner,venue,winner
0,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,field,Royal Challengers Bangalore,M Chinnaswamy Stadium,Kolkata Knight Riders
1,Chennai Super Kings,Kings XI Punjab,Chandigarh,bat,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings
2,Rajasthan Royals,Delhi Daredevils,Delhi,bat,Rajasthan Royals,Feroz Shah Kotla,Delhi Daredevils
3,Mumbai Indians,Royal Challengers Bangalore,Mumbai,bat,Mumbai Indians,Wankhede Stadium,Royal Challengers Bangalore
4,Deccan Chargers,Kolkata Knight Riders,Kolkata,bat,Deccan Chargers,Eden Gardens,Kolkata Knight Riders

In [6]:
matches.replace(["Mumbai Indians","Chennai Super Kings","Pune Warriors","Delhi Daredevils","Rajasthan Royals",
                 "Royal Challengers Bangalore","Kings XI Punjab","Deccan Chargers","Kolkata Knight Riders","Gujarat Lions",
                "Sunrisers Hyderabad","Rising Pune Supergiants","Kochi Tuskers Kerala"],["MI","CSK","PW","DD",
                "RR","RCB","KXIP","DC","KKR","GL","SRH","RPS","KTK"],inplace = True)
matches.head()

,team1,team2,city,toss_decision,toss_winner,venue,winner
0,KKR,RCB,Bangalore,field,RCB,M Chinnaswamy Stadium,KKR
1,CSK,KXIP,Chandigarh,bat,CSK,"Punjab Cricket Association Stadium, Mohali",CSK
2,RR,DD,Delhi,bat,RR,Feroz Shah Kotla,DD
3,MI,RCB,Mumbai,bat,MI,Wankhede Stadium,RCB
4,DC,KKR,Kolkata,bat,DC,Eden Gardens,KKR

In [7]:
print(1)

1

In [8]:
print(2)

2

In [9]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [10]:
encode = {'team1': {'MI':1,'KKR':2,'RCB':3,'DC':4,'CSK':5,'RR':6,'DD':7,'GL':8,'KXIP':9,'SRH':10,'RPS':11,'KTK':12,'PW':13},
          'team2': {'MI':1,'KKR':2,'RCB':3,'DC':4,'CSK':5,'RR':6,'DD':7,'GL':8,'KXIP':9,'SRH':10,'RPS':11,'KTK':12,'PW':13},
          'toss_winner': {'MI':1,'KKR':2,'RCB':3,'DC':4,'CSK':5,'RR':6,'DD':7,'GL':8,'KXIP':9,'SRH':10,'RPS':11,'KTK':12,'PW':13},
          'winner': {'MI':1,'KKR':2,'RCB':3,'DC':4,'CSK':5,'RR':6,'DD':7,'GL':8,'KXIP':9,'SRH':10,'RPS':11,'KTK':12,'PW':13,'Draw':14}}
matches.replace(encode, inplace = True)
matches.head(2)

,team1,team2,city,toss_decision,toss_winner,venue,winner
0,2,3,Bangalore,field,3,M Chinnaswamy Stadium,2
1,5,9,Chandigarh,bat,5,"Punjab Cricket Association Stadium, Mohali",5

In [11]:
df = pd.DataFrame(matches)
df.describe()

            team1       team2  toss_winner      winner
count  577.000000  577.000000   577.000000  577.000000
mean     5.417678    5.481802     5.365685    5.218371
std      3.281985    3.291946     3.255295    3.196267
min      1.000000    1.000000     1.000000    1.000000
25%      3.000000    3.000000     3.000000    2.000000
50%      5.000000    5.000000     5.000000    5.000000
75%      8.000000    7.000000     7.000000    7.000000
max     13.000000   13.000000    13.000000   14.000000

In [42]:
# Building predictive model, convert categorical to numerical data
from sklearn.preprocessing import LabelEncoder
var_mod = ['city','toss_decision','venue']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i])
df.head(10)

   team1  team2  city  toss_decision  toss_winner  venue  winner
0      2      3     2              1            3     14       2
1      5      9     6              0            5     22       5
2      6      7     9              0            6      8       7
3      1      3    22              0            1     34       3
4      4      2    21              0            4      7       2
5      9      6    16              0            9     26       6
6      4      7    14              0            4     23       7
7      5      1     7              1            1     15       5
8      4      6    14              1            6     23       6
9      9      1     6              1            1     22       9

In [32]:
X = df.iloc[: ,0:6]
Y = df.iloc[: ,6:]
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=.2,random_state=4)

In [33]:
knn = KNeighborsClassifier(n_neighbors=100)
knn.fit(X_train,Y_train)
Y_predict = knn.predict(X_test)
print(accuracy_score(Y_test,Y_predict))

0.3448275862068966

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

In [34]:
lr = LogisticRegression()
lr.fit(X_train,Y_train)
Y_predict = lr.predict(X_test)
print(accuracy_score(Y_test,Y_predict))

0.3103448275862069

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [48]:
# SVM
from sklearn import metrics
def classification_model(model,data,predictors,outcome):
    model.fit(data[predictors],data[outcome])
    predictions = model.predict(data[predictors])
    print(predictors)
    accuracy = metrics.accuracy_score(predictions,data[outcome])
    print('Accuracy: %s' % '{0:.3%}'.format(accuracy))

from sklearn import svm
model = svm.SVC(kernel = "rbf",C = 1, gamma = 1)
outcome_var = ["winner"]
predictor_var = ["team1","team2","city","toss_decision","toss_winner","venue"]
classification_model(model,df,predictor_var,outcome_var)

['team1', 'team2', 'city', 'toss_decision', 'toss_winner', 'venue']
Accuracy: 89.081%

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [49]:
Y_predict = model.predict([[5,1,7,1,1,15]])
print(Y_predict)

[5]

In [54]:
# Random fprest classifier --->> More accurate
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100)
outcome_var = ["winner"]
predictor_var = ["team1","team2","city","toss_decision","toss_winner","venue"]
classification_model(model,df,predictor_var,outcome_var)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

['team1', 'team2', 'city', 'toss_decision', 'toss_winner', 'venue']
Accuracy: 89.601%

In [53]:
Y_predict = model.predict([[6,7,9,0,6,8]])
print(Y_predict)

[7]